@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @apply grid grid-cols-1 grid-rows-1 place-items-center w-fit h-fit;
}

.face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* TODO: Consider with only gradient for a more pastel look */
    @apply bg-gray-900 rounded-3xl h-[700px] w-[650px];
    @apply col-start-1 row-start-1;
}

.back {
    transform: rotateY(180deg);
}

/* .foil {
    @apply bg-gradient-to-br from-violet-600 to-rose-600 mix-blend-multiply opacity-100;
    @apply col-start-1 row-start-1 rounded-3xl;
} */

.color-dodge {
    background-position: 50% 50%;
    background-size: 300% 300%;
    --color1: #ec9bb6;
    --color2: #ccac6f;
    --color3: #69e4a5;
    --color4: #8ec5d6;
    --color5: #b98cce;
    filter: brightness(0.5) contrast(1);
    background-image: linear-gradient(
        115deg,
        transparent 20%,
        var(--color1) 36%,
        var(--color2) 43%,
        var(--color3) 50%,
        var(--color4) 57%,
        var(--color5) 64%,
        transparent 80%
    );
    @apply mix-blend-color-dodge opacity-50 transition-all duration-300;
    @apply col-start-1 row-start-1 rounded-3xl;
}

.card:hover {
    .color-dodge {
        filter: brightness(1) contrast(1);
        @apply opacity-100;
    }
}

@supports (-moz-appearance: none) {
    .foil {
        display: none;
    }
    .color-dodge {
        display: none;
    }
}
