@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @apply grid grid-cols-1 grid-rows-1 place-items-center w-fit h-fit;
}

.face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* TODO: Consider with only gradient for a more pastel look */
    @apply bg-gray-900 rounded-3xl h-[700px] w-[650px];
    @apply col-start-1 row-start-1;
}

.back {
    transform: rotateY(180deg);
}

.foil {
    @apply bg-gradient-to-br from-violet-500 to-rose-500 mix-blend-color-dodge opacity-60;
    @apply col-start-1 row-start-1 rounded-3xl;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;;
}

@supports (-moz-appearance: none) {
    .foil {
        display: none;
    }
}
